.app-container {
  text-align: center;
  padding: 20px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 1px 2px 0 rgba(31, 38, 135, 0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 50px;
  color: #000;
}

.search-container {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

input {
  padding: 10px;
  width: 70%;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.25);
  color: #000;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input:focus {
  outline: none;
}


button {
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000;
  backdrop-filter: blur(5px);
  transition: background 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.weather-info, .forecast-info {
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 20px;
 box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  text-align: left;
}


.forecast-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 10px;
  justify-items: center;
}

.forecast-item {
  background: rgba(255, 255, 255, 0.25);
  padding: 15px;
  border-radius: 12px;
 box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #000;
  backdrop-filter: blur(5px);
}

.error {
  color: red;
  margin-top: 15px;
  font-weight: bold;
}


@media (max-width: 768px) {
  .app-container {
    padding: 10px;
    max-width: 100%;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }

  .forecast-grid {
    grid-template-columns: 1fr;
  }
}
